
.jumbotron {
  margin: 0px ;
  padding: 70px 30px;
  background-color: #051622;
  color: #DEB992;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: #051622;
}
.navbar-dark {
  background-color: #051622;
  color: #0f0f0f;
 
}
.navbar{
  color: #0f0f0f;
  width: 100%;
}  
.navbar-social{

  display: inline-block;
  }
  

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background: #051622;
  height: 300px;
  padding-left: 8%;
  margin-bottom: 30%;
  left: 0px;
  right: 0px;
  opacity:0.7;
}

.carousel .carousel-item img {
  
  height: 500px;
  width: 900px;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.modal-header {
  background-color: #512DA8;
}

.modal-title {
  color: floralwhite;
}

.modal-content {
  background-color: #D1C4E9;
}
.navbar-logo  {
  width: 200px;
  height: auto;
}
.badge {
  background-color: #1BA098;
  color: #0f0f0f;
}
.navbar-nav {
  padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.fa.fa-instagram {
  background-color: #051622;
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}


.nav-item{

    font-size: 16px;
    text-decoration: none;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img/street.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}